- content_for :page_title do
  = t('auth.login')

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :email, autofocus: true, placeholder: t('simple_form.labels.defaults.email'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }
  = f.input :password, placeholder: t('simple_form.labels.defaults.password'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.password') }

  .actions
    = f.button :button, t('auth.login'), type: :submit

%div.oauth-signin
  %h3= "ソーシャルログイン"
  %ul.login-button-list
    %li
      = link_to button_tag("Log in with facebook", class: "facebook-login-button")  , user_facebook_omniauth_authorize_path
    %li
      = link_to button_tag("Log in with github", class: "github-login-button")  , user_github_omniauth_authorize_path

.form-footer= render "auth/shared/links"
