!!! 5
%html{:lang => I18n.locale}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}/

    %link{:rel => "apple-touch-icon", :sizes => "180x180", :href => "/apple-touch-icon.png"}/
    %link{:rel => "mask-icon", :href => "/mask-icon.svg", :color => "#2B90D9"}/
    %link{:rel => "manifest", :href => "/manifest.json"}/
    %meta{:name => "msapplication-config", :content => "/browserconfig.xml"}/
    %meta{:name => "theme-color", :content => "#282c37"}/
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/

    %title<
      - if content_for?(:page_title)
        = yield(:page_title)
        = ' - '
      = site_title

    = stylesheet_link_tag stylesheet_for_layout, media: 'all'
    = csrf_meta_tags

    = yield :header_tags

  - body_classes ||= @body_classes

  %body{ class: body_classes }
    = content_for?(:content) ? yield(:content) : yield

    :javascript
      <!-- Google Analytics -->
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '#{ENV['ANALYTICS_ID']}', 'auto');
      ga('send', 'pageview');

      <!-- Facebook Pixel Code -->
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '#{ENV['FACEBOOK_PIXEL_ID']}', {
      em: 'insert_email_variable,'
      });
      fbq('track', 'PageView');

      <!-- Yahoo! Japan -->
      (function () {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=#{ENV['YAHOO_TAG_ID']}";
      s.parentNode.insertBefore(tagjs, s);
      }());
  %noscript
    %img{ height: 1, width: 1, style: "display:none", src: "https://www.facebook.com/tr?id=#{ENV['FACEBOOK_PIXEL_ID']}&ev=PageView&noscript=1" }
    %iframe{ src: "//b.yjtag.jp/iframe?c=#{ENV['YAHOO_TAG_ID']}", width: 1, height: 1, frameborder: 1, scrolling: "no", marginheight: 0, marginwidth: 0 }
  %script{ src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", async: "async" }
